# Packer
# ignore all variables defined by user
packer/**/variables.json

# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
backend.tf

# Ansible
*.retry
# Config file for dynanic inventory contains sensitive information
gce.ini

# Vagrant
.vagrant/
*.logs

# Python
*.pyc
